<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Curso</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <form method="post" th:action="@{/student/{id}/record/add(id=${record.primaryKey.student.id})}" th:object="${record}">
            <h3 class="center-align" th:text="'Expediente: ' + ${record.primaryKey.student.name} + ' ' + ${record.primaryKey.student.lastName}"></h3>
            <div class="form-group">
                <label for="year">Año</label>
                <input id="year" type="number" th:field="*{primaryKey.year}" class="form-control"
                       aria-describedby="year-help">
                <small id="year-help" class="alert alert-danger form-text text-muted"
                       th:errors="*{primaryKey.year}"></small>
            </div>
            <div class="form-group">
                <label for="semester">Semestre</label>
                <select class="form-control" id="semester" th:field="*{primaryKey.semester}">
                    <option value="1">Semestre 1</option>
                    <option value="2">Semestre 2</option>
                </select>
                <small id="semester-help" class="alert alert-danger form-text text-muted"
                       th:errors="*{primaryKey.semester}"></small>
            </div>
            <div class="form-group">
                <label for="course">Curso</label>
                <select class="form-control" id="course" th:field="*{primaryKey.course.id}" required>
                    <option th:each="course : ${courses}" th:value="${course.id}"
                            th:text="${course.name}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="grade">Nota</label>
                <input type="number" id="grade" th:field="*{grade}">
                <small id="grade-help" class="alert alert-danger form-text text-muted"
                       th:errors="*{grade}"></small>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</main>
</body>
</html>