<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Registro</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <h3 class="center-align" th:text="${student.name + ' ' + student.lastName}"></h3>
        <div class="control">
            <a th:href="@{/student/{id}/record/add(id=${student.id})}" class="btn btn-primary">Nuevo Registro</a>
        </div>
        <table class="table table-hover">
            <thead class="thead-dark">
            <th>Accion</th>
            <th>Materia</th>
            <th>Año</th>
            <th>Semestre</th>
            <th>Nota</th>
            <th>Estado</th>
            </thead>
            <th:block th:each="record, row:${student.records}">
                <tr>
                    <td><a><i class="fas fa-edit fa-2x"></i></a></td>
                    <td th:text="${record.primaryKey.course.name}"></td>
                    <td th:text="${record.primaryKey.year}"></td>
                    <td th:text="${record.primaryKey.semester}"></td>
                    <td th:text="${record.grade}"></td>
                    <td th:if="${record.grade >= 6}" class="alert alert-success">Aprovado</td>
                    <td th:unless="${record.grade >= 6}" class="alert alert-danger">Reprovado</td>
                </tr>
            </th:block>
        </table>
    </div>
</main>
</body>
</html>