<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Nueva Escuela</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <h3 class="center-align">Nueva escuela</h3>
        <form method="post" th:action="@{/school/add}" th:object="${school}">
            <div th:if="*{id != null}" class="d-none">
                <label for="input-id">Id:</label>
                <input type="number" id="input-id" th:field="*{id}" th:readonly="true">
            </div>
            <div class="form-group">
                <label for="name">Nombre del centro</label>
                <input type="text" th:field="*{name}" class="form-control" id="name" aria-describedby="name-help">
                <small id="name-help" class="alert alert-danger form-text text-muted" th:errors="*{name}"></small>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Municipio</label>
                <select class="form-control" id="exampleFormControlSelect1" th:field="*{municipality.id}">
                    <option th:each="municipality : ${municipalities}" th:value="${municipality.id}"
                            th:text="${municipality.name}">
                    </option>
                </select>
                <small id="municipality-help" class="alert alert-danger form-text text-muted"
                       th:errors="*{municipality}"></small>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</main>
</body>
</html>